.toolbar{
    background-color: #1aebb6;
    box-shadow: 0 3px 5px -1px #0003, 0 3px 5px #00000024, 0 1px 5px #0000001f;
}
.dataBox{
    display: grid;
    grid-template-columns: 16% 84%;
    height: calc(100% -64px);
    overflow: auto;
}
.lds-dual-ring2{
    display: inline-block;
}
.lds-dual-ring2:after{
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #1aebb6;
    border-color: #1aebb6 transparent #1aebb6 transparent;
    animation: lds-dual-ring2 1.2s linear infinite;
}
@keyframes lds-dual-ring2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
.dataBox>.left{
    height: 100%;
    overflow: auto;
    background-color: rgb(33 33 33);
    box-shadow: 1px 0 5px rgb(0 0 0 / 30%);
}
.dataBox>.right{
    height: 100%;
    overflow: auto;
}
.left>button{
    width: 100%;
    color: #fff;
    border-radius: 0;
    height: 50px;

}
.left>button:hover{
    background-color: rgb(54 53 53);

}
.activeButton{
    background-color: #fff !important;
    color: rgb(33 33 33) !important;
}
.activeButton:hover{
    background-color: #fff !important;
    color: rgb(33 33 33) !important;
}
.cards{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-top: 20px;
}
.tableData{
    margin-top: 50px;
    padding: 0 10px;
}
.cards .mat-card{
    background-color: #1aebb6 !important;
}
.nodata{
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
.right label{
    display: block;
    font-size: 18px;
    color: rgb(0 0 0 / 87%);
    padding: 10px 0;
}