<div class="parent">
    <div class="child1"></div>
    <div></div>

</div>
<div class="formBox">
    <div class="formParent">
        <div>
            <div class="welcome">WELCOME</div>
            <div *ngIf='logging' class="leftContent">
                <div class="new">New user?</div>
                <button class="signup" type="button" mat-raised-button color='primary' (click)='toggleLogin()'>Sign Up</button>

            </div>
            <div *ngIf='!logging' class="leftContent">
                <div class="new">Already have a account?</div>
                <button class="signup" type="button" mat-raised-button color='primary' (click)='toggleLogin()'>Login</button>

                
            </div>
        </div>
        <div>
            <div *ngIf='logging' class="rightBox">
                <div class="title">LOGIN</div>
                <form [formGroup]='loginForm' (ngSubmit)='login()'>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>Enter User Name</mat-label>
                        <input matInput type="text" formControlName='userName'>
                        <mat-icon matPrefix>person</mat-icon>
                        <mat-error>Please enter a user name</mat-error>

                    </mat-form-field>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>Enter Password</mat-label>
                        <input matInput [type]="show ? 'text' : 'password'" formControlName='password'>
                        <mat-icon matPrefix>lock</mat-icon>
                        <mat-error>Please enter password</mat-error>

                    </mat-form-field>
                    <p *ngIf='errorMessage' style="color: #f44336;">{{errorMessage}}</p>
                    <button mat-raised-button class="logbtn" type="submit">
                        <span *ngIf='!signing'>Login</span>
                        <span *ngIf='signing'>Logging</span>
                        <div *ngIf='signing' class="lds-dual-ring2"></div>

                    </button>
                </form>

            </div>
            <div *ngIf='!logging' class="rightBox">
                <div class="title">SIGN UP</div>
                <form [formGroup]='signForm' (ngSubmit)='signUp()'>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>Enter User Name</mat-label>
                        <input matInput type="text" formControlName='userName'>
                        <mat-icon matPrefix>person</mat-icon>
                        <mat-error *ngIf="signForm.get('userName')?.errors?.['required']">Please enter a user name</mat-error>
                        <mat-error *ngIf="signForm.get('userName')?.errors?.['minlength']">User name must have atleast 6 characters</mat-error>
                        <mat-error *ngIf="signForm.get('userName')?.errors?.['taken']">User name already taken</mat-error>



                    </mat-form-field>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>Enter Password</mat-label>
                        <input matInput [type]="show ? 'text' : 'password'" formControlName='password'>
                        <mat-icon matPrefix>lock</mat-icon>
                        <mat-icon matSuffix (mousedown)='show=!show' (mouseup)='show=!show'>visibility</mat-icon>
                        <mat-error *ngIf='signForm.get("password")?.errors?.["pass"] && !signForm.get("password")?.errors?.["required"]'>{{signForm.get("password")?.errors?.["pass"]?.["message"]}}</mat-error>
                        <mat-error *ngIf='signForm.get("password")?.errors?.["required"]'>Please enter password</mat-error>


                    </mat-form-field>
                    <mat-form-field appearance='outline' style="width: 100%;">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="show2 ? 'text' : 'password'" formControlName='repassword'>
                        <mat-icon matPrefix>lock</mat-icon>
                        <mat-icon matSuffix (mousedown)='show2=!show2' (mouseup)='show2=!show2'>visibility</mat-icon>
                        <mat-error>Please confirm password</mat-error>


                    </mat-form-field>
                    <p *ngIf='errorMessage' style="color: #f44336;">{{errorMessage}}</p>
                    <button mat-raised-button class="logbtn" type="submit">
                        <span *ngIf='!signing'>Sign Up</span>
                        <span *ngIf='signing'>Signing Up</span>
                        <div *ngIf='signing' class="lds-dual-ring2"></div>

                    </button>
                </form>

            </div>
        </div>

    </div>

</div>
