.parent{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;

}
.child1{
    height: 100%;
    background-color: #1aebb6;
    height: 100%;
}
.formBox{
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}
.welcome{
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: #fff;
}
.formBox>.formParent{
    width: 90%;
    height: 90%;
    box-shadow: 0 0 10px rgb(0 0 0 /20%);
    display: grid;
    grid-template-columns: 27.5% 72.5%;
    position: relative;

}
.formParent>div{
    height: 100%;;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftContent{
    width: 100%;
    text-align: center;
    line-height: initial;
}
.title{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: #1aebb6;
}
.lds-dual-ring2{
    display: inline-block;
}
.lds-dual-ring2:after{
    content: " ";
    display: block;
    width: 10px;
    height: 10px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: white transparent white transparent;
    animation: lds-dual-ring2 1.2s linear infinite;
}
@keyframes lds-dual-ring2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
form{
    margin-top: 20px;
    max-width: 500px;
}
.logbtn{
    background-color: #1aebb6;
    color: #fff;
    margin-left: 50%;
    transform: translate(-50%);
    width: 50%;
    border-radius: 20px;
}
.signup{
    width: 80%;
    border-radius: 20px;
    background-color: white;
    color: #1aebb6;
    margin-top: 10px;
}
.leftContent>.new{
    color: #fff;
    font-size: 20px;
    padding: 10px;
}